@model ChickenF.Models.OrderDetail
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Delete Order Detail</h2>

<h4>Are you sure you want to delete this order detail?</h4>
<div>
    <h4>Order Detail ID: @Model.Id</h4>
    <p>Order ID: @Model.OrderId</p>
    <p>Product ID: @Model.ProductId</p>
    <p>Quantity: @Model.OrderDetailQuantity</p>
    <p>Unit Price: @Model.OrderDetailPrice.ToString("C")</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>